@font-face {
  font-family: 'icoFont';
  src:  url('/src/assets/fonts/icoFont/icoFont.eot');
  src:  url('/src/assets/fonts/icoFont/icoFont.eot') format('embedded-opentype'),
  url('/src/assets/fonts/icoFont/icoFont.ttf') format('truetype'),
  url('/src/assets/fonts/icoFont/icoFont.woff') format('woff'),
  url('/src/assets/fonts/icoFont/icoFont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-forward:before {
  content: "\e903";
}
.icon-left:before {
  content: "\e904";
}
.icon-right:before {
  content: "\e905";
}
.icon-minus:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-more:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e910";
}
.icon-bookmark:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-calendar:before {
  content: "\e913";
}
.icon-group:before {
  content: "\e914";
}
.icon-service:before {
  content: "\e915";
}
.icon-wifi:before {
  content: "\e916";
}
.icon-parking:before {
  content: "\e917";
}
.icon-drinks:before {
  content: "\e918";
}
.icon-chair:before {
  content: "\e919";
}
.icon-card:before {
  content: "\e920";
}
.icon-camera:before {
  content: "\e921";
}
.icon-scan:before {
  content: "\e922";
}
.icon-ticket:before {
  content: "\e923";
}
.icon-location:before {
  content: "\e924";
}
.icon-share:before {
  content: "\e925";
}
.icon-logout:before {
  content: "\e926";
}
.icon-delete:before {
  content: "\e927";
}
.icon-edit:before {
  content: "\e928";
}
.icon-eye:before {
  content: "\e929";
}
.icon-phone:before {
  content: "\e930";
}
.icon-phone-outline:before {
  content: "\e931";
}